{{!-- <div id="experience" data-target="experience">
  <div class="container">
    <div class="row">
      <h1 class="section-header-white">Work Experience</h1>
    </div>
    <div class="row">
      <div class="col s3">
        <img src="public/images/stics.png" />
      </div>
      <div class="col s6">
        <h5>
          <p><b>Student-Initiated Course (STIC)</b> <br /> <i class="classification">Fullstack Web Dev Instructor</i></p>
        </h5>
        <p>
          Teaching a class on full stack web development using NodeJS and other web frameworks at the
          University of Maryland as part of the school's STIC's program.
        </p>
      </div>
      <div class="col s3 right-align">
        <p>Fall 2019</p>
      </div>

    </div>
    <div class="row">
      <div class="col s3">
        <img src="public/images/EC.jpg" />
      </div>
      <div class="col s6">
        <h5>
          <p><b>Evans & Chambers Technology</b> <br /> <i class="classification">Fullstack Web Development</i></p>
        </h5>
        <p>
          Working as a contractor to create web applications for the DIA using
          relevant technologies. Work enviroment follows a SCRUM/AGILE methodology. Idea to
          deployment in less than 3 weeks.
      </div>
      <div class="col s3 right-align">
        <p>Fall 2019</p>
      </div>
    </div>

    <div class="row">
      <div class="col s3">
        <img src="public/images/gcit.jpeg" />
      </div>
      <div class="col s6">
        <h5>
          <p><b>Gloucester County Institute of Technology</b> <br /> <i class="classification">Media Producer</i></p>
        </h5>
        <p>
          Worked independently to deliver high quality media content such as news media, posters, and films
          for school events.
      </div>
      <div class="col s3 right-align">
        <p>2014-2015</p>
      </div>
    </div>

  </div>
</div>

<div id="tech-experience">
  <div class="container">
    <div class="row">
      <h1 class="section-header">Relevant Experience</h1>
    </div>
    <div class="row">
      <div class="col s3">
        <img src="public/images/bitcamp_2.jpg" />
      </div>
      <div class="col s6">
        <h5>
          <p><b>Bitcamp</b> <br /> <i class="classification">Hacker</i></p>
        </h5>
        <p>
          Competitor at one of east coast's largest hackathon where I led a team of four to create a mobile integrated
          web application. Winner of Booz Allen Hamilton's "Best Hack for Aiding Natural Disaster Recovery Efforts"
          challenge.
        </p>
      </div>
      <div class="col s3 right-align">
        <p>Spring 2018</p>
      </div>

    </div>
    <div class="row">
      <div class="col s3">
        <img src="public/images/umdcs.png" />
      </div>
      <div class="col s6">
        <h5>
          <p><b>CS Daemon Dash</b> <br /> <i class="classification">Hacker</i></p>
        </h5>
        <p>
          Competeted with a small team of three to create an event calendar integrated with UMD's
          campus map. Gained extensive knowledge of Javascript as well as fundamental web concepts.
          </thead>
      </div>
      <div class="col s3 right-align">
        <p>Spring 2016</p>
      </div>
    </div>
  </div>
</div> --}}


<div id="experience" data-target="experience">
  <div class="container">
    <div class="row">
      <h1 class="section-header-white">Work Experience</h1>
    </div>
    <div class="row">

      <div class="col s12 m6 l3">
        <div class="card large">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="public/images/logo_microstrategy.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">MicroStrategy<i class="material-icons right">more_vert</i></span>
            <p>Associate Software Engineer</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">MicroStrategy<i class="material-icons right">close</i></span>
            <p><i>Aug 2019</i></p>
            <p>Incoming software engineer at MicroStrategy.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="card large">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="public/images/logo_c1.jpeg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Capital One<i class="material-icons right">more_vert</i></span>
            <p>Software & Data Engineer Intern</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Capital One<i class="material-icons right">close</i></span>
            <p>​<i>Sept 2018 - PRESENT</i></p>
            <p>Working with Capital One to develop internal cyber testing
              tools through machine learning. </p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="card large">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="public/images/logo_stics.jpeg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Student-Initiated Courses<i class="material-icons right">more_vert</i></span>
            <p>Fullstack Lecturer</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Student-Intiated Courses<i class="material-icons right">close</i></span>
            <p>​<i>Sept 2018 - PRESENT</i></p>
            <p>Student-Initiated Courses (STICs) is a special program at the
              University of Maryland where students teach a special topics class
              for 1 credit.
            </p>
            <p>Taught a class of 35 on fullstack web development involving topics
              such as NodeJS, Express, Mongo, and API design.
            </p>
          </div>
        </div>
      </div>

      <div class="col s12 m6 l3">
        <div class="card large">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="public/images/logo_ec.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Evans & Chambers<i class="material-icons right">more_vert</i></span>
            <p>Fullstack Developer</p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Evans & Chambers<i class="material-icons right">close</i></span>
            <p>​<i>May 2018 - Nov 2018</i></p>
            <p>Worked with Angular and Spring Boot to develop a scalable
              management microservice for customers.
              Concept to deployment in less than a months with features such as
              authentication, database querying, and filter/search.
              Fully designed an interactive and draggable event based calendar.
            </p>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>