<div id="experience" data-target="experience">
  <div class="container">
    <div class="row">
      <h1 class="section-header">Work Experience</h1>
    </div>
    <div class="row">
      <div class="col s3">
        <img src="public/images/stics.png"/>
      </div>
      <div class="col s6">
        <h5><p><b>Student-Initiated Course (STIC)</b> <br /> <i class="classification">Fullstack Web Dev Instructor</i></p></h5>
        <p>
          Teaching a class on full stack web development using NodeJS and other web frameworks at the
          University of Maryland as part of the school's STIC's program.
        </p>
      </div>
      <div class="col s3 right-align">
      <p>Fall 2019</p>
      </div>

    </div>
    <div class="row">
      <div class="col s3">
        <img src="public/images/EC.jpg"/>
      </div>
      <div class="col s6">
        <h5><p><b>Evans & Chambers Technology</b> <br /> <i class="classification">Fullstack Web Development</i></p></h5>
        <p>
          Working as a contractor to create web applications for the DIA using 
          relevant technologies. Work enviroment follows a SCRUM/AGILE methodology. Idea to
          deployment in less than 3 weeks.
      </div>
      <div class="col s3 right-align">
      <p>Fall 2019</p>
      </div>
    </div>

    <div class="row">
      <div class="col s3">
        <img src="public/images/gcit.jpeg"/>
      </div>
      <div class="col s6">
        <h5><p><b>Gloucester County Institute of Technology</b> <br /> <i class="classification">Media Producer</i></p></h5>
        <p>
          Worked independently to deliver high quality media content such as news media, posters, and films
          for school events.
      </div>
      <div class="col s3 right-align">
      <p>2014-2015</p>
      </div>
    </div>

  </div>
</div>

<div id="tech-experience">
  <div class="container">
    <div class="row">
      <h1 class="section-header">Relevant Experience</h1>
    </div>
    <div class="row">
      <div class="col s3">
        <img src="public/images/bitcamp_2.jpg"/>
      </div>
      <div class="col s6">
        <h5><p><b>Bitcamp</b> <br /> <i class="classification">Hacker</i></p></h5>
        <p>
          Competitor at one of east coast's largest hackathon where I led a team of four to create a mobile integrated
          web application. Winner of Booz Allen Hamilton's "Best Hack for Aiding Natural Disaster Recovery Efforts"
          challenge.
        </p>
      </div>
      <div class="col s3 right-align">
      <p>Spring 2018</p>
      </div>

    </div>
    <div class="row">
      <div class="col s3">
        <img src="public/images/umdcs.png"/>
      </div>
      <div class="col s6">
        <h5><p><b>CS Daemon Dash</b> <br /> <i class="classification">Hacker</i></p></h5>
        <p>
          Competeted with a small team of three to create an event calendar integrated with UMD's
          campus map. Gained extensive knowledge of Javascript as well as fundamental web concepts.
          </thead>
      </div>
      <div class="col s3 right-align">
      <p>Spring 2016</p>
      </div>
    </div>
  </div>
</div>
