<footer class="page-footer" style="background-color: rgba(80, 80, 80, 0.7)">
  <div class="footer-copyright" style="background-color:rgba(80, 80, 80, 0)">
    <div class="container" >
      Made with ♥ by Benny Cheng
       <a class="grey-text text-lighten-4 right" href="#">Back to top</a>
    </div>
  </div>
</footer>
