<footer class="page-footer" style="background-color: rgba(80, 80, 80, 0.7)">
  <div class="footer-copyright" style="background-color:rgba(80, 80, 80, 0)">
    <div class="container">
      <p>Made with ♥ by Benny Cheng</p>
      <a class="grey-text text-lighten-4 right" href="#">Back to top <i class="material-icons left">arrow_upward</i>
</a>
      <div class="contact">
        <a href="https://www.linkedin.com/in/benny-cheng-787159115/">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a href="https://github.com/bcheng1996">
          <i class="fab fa-github"></i>
        </a>
        <a href="public/Resume.pdf">
          <i class="far fa-file-pdf"></i>
        </a>
      </div>
    </div>
  </div>
</footer>