<div id="profile">
  <div class="container">
    <div class="row"></div>
    <h1 class="section-header">Profile</h1>
    <p>I am an avid developer/programmer/geek who is infatiated with all things tech related. From algorithms to computer vision, I find myself tinkering with just about anything in the domain.
    </p>

    <p>
      I am a creature that oscillates between the logisitical realms of computer science such as improving algorithmic time complexities and the abstract beauty of computer design such as UI and UX. As such, I have an inclination for not just full stack development,
      but also anything and everything deployable to users.
    </p>
    <p>
      Outside of programming, I enjoy playing fingerstyle guitar and listening to music (recently fell in love with John Denver's Take Me Home, Country Roads). I also enjoy producing digital media such as short films, posters, and art.
    </p>
    <!-- <div class="video-container" style="margin-top: 50px;">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/77Vr1bOXHjU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div> -->
  </div>

</div>
