@media screen and (max-width: 600px) {
  .logo-large {
    display: none;
  }
}

@font-face {
  font-family: "League Spartan Bold";
  src: url("fonts/LeagueSpartan-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Odachi";
  src: url("fonts/Odachi.woff") format('woff');
}

@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway-ExtraLight.ttf") format('truetype'); 
}

html body {
  height: 100%;
  width: auto;
  font-family: "Open Sans";
}

i.icon-orange {
  color: #FE5F55;
}

p {
  color: black;
  font-size: 16px;
}

.main-header {
  font-size: 8vh;
  opacity: 0.9;
  font-family: 'Open Sans';
}

h1 {
  font-family: 'Odachi';
  font-weight: bold;
}

.main-subheader {
  opacity: 0.5;
  font-size: 20px;
  font-family: 'Raleway';
  font-weight: 300;
}

.semicolon{
  font-family: 'Courier';
  font-weight: 100;
}

.circle {
  width: 70%;
  height: 70%;
}

.h1 {
  font-family: Odachi
}

.profile-pic {
  opacity: 0;
  margin-top: -2000px;
}

.profile-text {
  color: white;
  opacity: 0;
}

.contact {
  margin-top: 150px;
  font-size: 36px;
}

.contact i:hover {
  z-index: 99999;
  font-size: 40px;
  color: grey;
}

.contact a {
  z-index: 99999;
  color: #F7F7FF;
}

#developer {
  opacity: 0;
}

#artist {
  opacity: 0;
}

#innovator {
  opacity: 0;
}

.profile-text .material-icons {
  opacity: 0;
  margin-left: -30px;
  font-size: 36px;
}

.main-body {
  height: 100%;
}

.navbar-fixed {
  position: fixed;
}

.header-text {
  font-size: 78px;
  font-weight: bold;
  opacity: 0.7;
  text-align: left;
}

.center {
  width: 100%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.right {
  float: right
}

.row  {
  z-index: 9999;
}

.parallax-container {
  height: 100vh;
  width: auto
}

#main-bg {
  filter: brightness(40%);
  width: 140%;
}

.center-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.logo-small {
  width: 64px;
}

.light {
  filter: brightness(0) invert(1);
}

.logo-large {
  width: 40vh;
  max-width: 100%;
  overflow: hidden;
  float: "left";
}

.dark {
  filter: brightness(0);
}

.brand-logo {
  margin-left: 20px;
}

.nav-extend-fixed {
  position: fixed;
  margin-left: 20px;
}

.navbar-gradient {
  background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
  border-width: 0;
  box-shadow: none;
  opacity: 0.5;
}

.navbar-transparent {
  opacity: 0.5;
  background-color: black;
}

.user-view {
  height: 100%;
}

.title {
  margin-top: 40%;
}

.title h4 {
  color: white;
  font-size: 40px;
}

.sub-title h5 {
  font-size: 13vh;
  color: #FE5F55;
}

.links {
  background-color: #77ACA2;
}

.profile-header {
  height: 350px;
  background: linear-gradient(#086788, #086788);
}

.profile-wrapper {
  height: 400px;
  background-color: green;
}

.collection {
  height: auto;
  width: auto;
  ;
}

#slide-out {
  width: 350px;
}

.section-header {
  font-family: "Open Sans";
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.section-header:after {
  background: none repeat scroll 0 0 black;
  bottom: -10px;
  content: "";
  display: block;
  height: 10px;
  position: relative;
  width: 100px;
  margin:auto;
}

/*home partial*/

#home {
  height: 100vh;
  width: auto;
  background-image: url("/public/images/blue-poly.png");
  background-position: center;
  background-repeat: no-repeat;
}

/*-----------------------*/

/*profile partial*/

#profile {
  background-color: white;
  color: #086788;
}

.flex {
  display: flex;
  flex-direction: column;
}

.small {
  width: 15vh;
  display: block;
  margin: auto;
}

.small-text {
  font-size: 16px;
  opacity: 0.8;
  text-align: center;
}


.profile-icon {
  margin-left: auto;
  margin-right: auto;
}

.med { 
  width: 45vh;
}

#education {
  background-color: #086788;
  color: #F7F7FF;
}

.course-work {
  color: #F7F7FF;
}

.course-work li::before {
  content: '> ';
  font-weight: bold;
  color: #FE5F55;
}

.label {
  text-align: center;
}

.brush-bar {
  height: 100px;
  width: 20px;
}

/**/

#experience {
  background-color: #477CC6;
  color: #F7F7FF;
}

#experience img {
  width: 90%;
  height: 90%;
  margin-top: 20px;
}

#tech-experience {
  background-color: #06AED5;
  color: #086788;
}

#tech-experience img {
  width: 90%;
  height: 90%;
  margin-top: 20px;
}

#projects {
  background-color: #F7F7FF;
  color: #477CC6;
}

.card {
  height: 300px;
}

.card-image {
  width: 300px;
  height: 300px;
}

.card img {
  width: 100%;
  height: 100%;
}

.classification {
  font-size: 15px;
}

/*-----------------------*/

#skills {
background-color: #d9dce0;
}


.name {
  font-family: 'League Spartan Bold', Arial, sans-serif;
  color: white;
}

.container {
  padding-top: 10px;
  padding-bottom: 20px;
}


canvas {
  top:0;
  display: absolute;
  width: 100vw;
  height: 100vh; 
}

.home-container {

  height: 100vh;
  width: auto
}

#particles-js {
  background-color: #17182f;
  z-index: -1;
  display: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}


.btn-large {
  background-color: transparent;
  text-transform: none;
  font-family: 'Raleway';
  font-size: 24px;
}

.btn-large:hover {
  background-color: rgba(150,124,176, 0.3);
}

.btn-large:hover #arrow_downward {
  display: block;
}

.btn-large:hover #arrow_forward {
  display: none;
}


#arrow_downward {
  display: none;
}

#arrow_forward {
  display: block;
}

.outline-white {
  border: 1.4px solid white;
  box-shadow: none;
}